torch
torchaudio
torchvision
audioread
etils
jax
librosa
matplotlib
numpy
pandas
scikit-learn
soundfile
tensorflow<2.15.0
timm<=0.6.13
torch-audiomentations
torch-pitch-shift
torchmetrics
tqdm
tensorflow_addons
importlib_resources
mgrs
resampy